body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 100;
  min-height: 100vh;
  background: linear-gradient(135deg, #5d2ce2 0%, #ffffff 100%);
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
